

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Smooth scroll transition */
html {
  scroll-behavior: smooth;
}

/* Style the links */
a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: blue;
}
.custom-width{
  width: 80%;
  margin: 0 auto;
/* Additional code for preventing text overflow */

.section p {
  max-width: 100%; /* Limiting text width */
  word-wrap: break-word; /* Allowing word-wrap for long words */
  overflow-wrap: break-word; /* Handling word wrap for newer browsers */
}
